*{
	margin: 0;
	padding: 0;

}

/*HEADER*/

header .container-header img{
	width: 100%;
	position: absolute;
	float: right;
}

/*SEARCH BAR*/

.container-header .search-bar{
	position: absolute;
	margin-left: 70%;
}

.container-header .search-bar input{
	height: 23.8px;
	margin-top: 40px;
	border-style: none;
	border-radius: 5px;
}

.container-header .search-bar button{
	margin-left: 5px;
	padding: 5px 15px;
	font-size: 12.5px;
	color: #fff;
	background-color: #ffbf00;
	margin-top: 40px;
	border-style: none;
	border-radius: 5px;
}

/*NAVIGATION*/

nav{
	padding: 49px 0 3px 400px;
}

nav a{
	text-decoration: none;
	color: #fff;
	position: relative;
	display: inline-block;
	padding:95px 0 25px 25px;
	font-size: 15px;
}

.content{
	padding: 0 90px;
}
/*BANNER*/

.banner img{
	width: 100%;
	margin: 0;
}

/*WELCOME*/

.content span h3{
	color: #cc0000;
	margin-top: 30px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #666;
}

span p{
	margin-top: 10px;
	font-size: 13px;
	line-height: 25px;
	color: #444;
}

/*PRODUCTS*/ /*SERVICES*/
a{
	text-decoration: none;
		margin-right: 40px;
}
 .products,
 .services{
	margin-top: 20px;
	width: 345px;
	display: inline-block;

	vertical-align: top;
}

 .products img,
 .services img{
	margin-right: 20px;
	border-top: 4px solid #ffa902;
	width: 100%;
}

 .products h5,
 .services h5{
	width: 100%;
	color: #fff;
	padding: 7px 0;
	text-align: left;
	background-color: #ffa902;
	display: inline-block;
	border: 0;
	text-indent: 10px;
}

.products p,
.services p{
	width: 100%;
	padding: 10px 0;
	font-size: 11px;
	color: #444;
	line-height: 15px;
}

.products:last-child,
.services:last-child{
	margin-right: 0;
}

.content a img{
	margin: 20px 0;
	width: 100%;
}

/*FOOTER*/
.container footer{
	width: 92%;
	background-color: #cc0000;
	padding: 30px 0 30px 100px;
	display: block;
}

.container footer p{
	color: #fff;
	font-size: 13px;
	float: left;
	width: 36%;
}

.container footer a{
	font-size: 13px;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	float: left;
	margin-left: 15px;
}


